In [1]:
from utility_algo import inverted_index, combined_inverted_index
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/sim_data_120_22Apr2020.csv')

data = data.replace('\n','', regex=True)

data = data.reset_index()

data.head()

,index,name,school,subject,grad_yr,zip,industry,title,country,language,connected,priority_tags
0,0,青山 さゆり,['South China Normal University'],Biology,[2020],94102,Banking,Student,France,['Spanish' 'Korean'],[112 119 20 98 31 93],"['tag_1', 'tag_12']"
1,1,傅红梅,['University of California Berkeley'],Mechanical Engineering,[2014],94103,Banking,UX Designer,United States,['Spanish' 'Cantonese'],[118 38 112 11],"['tag_18', 'tag_5', 'tag_15']"
2,2,李红霞,['University of Chicago' 'University of Chicago'],Graphic Design,[2018 2014],94108,Management Consulting,UX Designer,China,['Spanish'],[],[]
3,3,Daniel Wagner,['University of Hong Kong'],Law,[2012],94104,Computer Software,Product Manager,United States,['Chinese' 'Korean' 'Cantonese'],[104 46 17 20 12 20 7 45 103 109 6 22],"['tag_1', 'tag_7']"
4,4,Cristian Santos,['University of Michigan Ann Arbor'],Business Administration and Management,[2020],94101,Financial Services,Product Manager,China,['Korean' 'Japanese'],[107 95 74 85 21 106 88 21 91 28 12 ...,['tag_16']

In [3]:
ii_input = [
#    ('grad_yr', 'MULT'),
    
    # career
    ('industry', 'SINGLE'),
    ('title', 'SINGLE'),
    
    # background
    ('school', 'MULT'),    
    ('subject', 'SINGLE'),
    ('zip', 'SINGLE'),
    ('country', 'SINGLE'),
    ('language', 'MULT'),
    
    # priority
    ('priority_tags', 'MULT')
]

# combined_inverted_index(data, ii_input, uid_field_name='index')